<div style="width: 800px" class="container clearfix">
  <div style="float: left" class="people-list" id="people-list">
    <div class="search">
      <input #element type="text" (keyup)="search(element.value)" placeholder="search"/>
      <i class="fa fa-search"></i>
    </div>
    <div class="list">
      <div class="form-check" style="background-color: white" *ngFor="let friend of friends"
           (click)="addIdFriend(account.id, friend.id)">
        <label class="form-check-label" for="flexRadioDefault{{friend.id}}">
          <img style="width: 20px;height: auto;border-radius: 24px" [src]="friend.avatar" alt="avatar"/>
          <div class="about">
            <div class="name">{{friend.username}}</div>
            <div class="status">
              <i class="fa fa-circle online"></i> online
            </div>
          </div>
        </label>
        <input style="width: 20px;border: #a8aab1;float: right" type="radio" id="flexRadioDefault{{friend.id}}">
      </div>

      <!--      <li class="clearfix">-->
      <!--        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_02.jpg" alt="avatar" />-->
      <!--        <div class="about">-->
      <!--          <div class="name">Aiden Chavez</div>-->
      <!--          <div class="status">-->
      <!--            <i class="fa fa-circle offline"></i> left 7 mins ago-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </li>-->

    </div>
  </div>

  <div style="float: left" class="chat">
    <div class="chat-header clearfix">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar"/>

      <div class="chat-about">
        <div class="chat-with">Chat with Vincent Porter</div>
        <div class="chat-num-messages">already 1 902 messages</div>
      </div>
      <i class="fa fa-star"></i>
    </div> <!-- end chat-header -->
    <div #scrollMe class="chat-history">
      <ul *ngFor="let message of websocketService.message">
        <li *ngIf="message.account1.id == account.id" class="clearfix">
          <div class="message-data align-right">
            <span class="message-data-time">{{message.date}}, Today</span> &nbsp; &nbsp;
            <span class="message-data-name">{{message.account1.username}}</span> <i class="fa fa-circle me"></i>
          </div>
          <div class="message other-message float-right">
            {{message.content}}
          </div>
        </li>

        <li *ngIf="message.account1.id != account.id">
          <div class="message-data">
            <span class="message-data-name"><i class="fa fa-circle online"></i>{{message.account1.username}}</span>
            <span class="message-data-time">{{message.date}}, Today</span>
          </div>
          <div class="message my-message">
            {{message.content}}
          </div>
        </li>
        <!--        <li>-->
        <!--          <div class="message-data">-->
        <!--            <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>-->
        <!--            <span class="message-data-time">10:31 AM, Today</span>-->
        <!--          </div>-->
        <!--          <i class="fa fa-circle online"></i>-->
        <!--          <i class="fa fa-circle online" style="color: #AED2A6"></i>-->
        <!--          <i class="fa fa-circle online" style="color:#DAE9DA"></i>-->
        <!--        </li>-->

      </ul>

    </div> <!-- end chat-history -->
    <form #message="ngForm" (ngSubmit)="createChat(message,account.id,friend.id)">
      <div class="chat-message clearfix">
        <textarea name="content" id="message-to-send" placeholder="Type your message" rows="3" ngModel></textarea>

        <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
        <i class="fa fa-file-image-o"></i>

        <button>Send</button>
      </div> <!-- end chat-message -->
    </form>

  </div> <!-- end chat -->

</div> <!-- end container -->

<!--<script id="message-template" type="text/x-handlebars-template">-->
<!--  <li class="clearfix">-->
<!--    <div class="message-data align-right">-->
<!--      <span class="message-data-time" >{{time}}, Today</span> &nbsp; &nbsp;-->
<!--      <span class="message-data-name" >Olia</span> <i class="fa fa-circle me"></i>-->
<!--    </div>-->
<!--    <div class="message other-message float-right">-->
<!--      {{messageOutput}}-->
<!--    </div>-->
<!--  </li>-->
<!--</script>-->

<!--<script id="message-response-template" type="text/x-handlebars-template">-->
<!--  <li>-->
<!--    <div class="message-data">-->
<!--      <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>-->
<!--      <span class="message-data-time">{{time}}, Today</span>-->
<!--    </div>-->
<!--    <div class="message my-message">-->
<!--      {{response}}-->
<!--    </div>-->
<!--  </li>-->
<!--</script>-->
