<h3>Account List</h3>

<table class="table table-hover">
  <thead>
  <tr>
    <th>#</th>
    <th>Username</th>
    <th>Full Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let account of accounts; index as i">
    <td>{{i + 1}}</td>
    <td>{{account.username}}</td>
    <td>{{account.fullName}}</td>
    <td>{{account.email}}</td>
    <td>{{account.phone}}</td>
    <td style="color: green" *ngIf="account.active">Active</td>
    <td style="color: red" *ngIf="!account.active">Blocked</td>
    <td *ngIf="!account.active"></td>
    <td *ngIf="account.username === 'admin'"></td>
    <td *ngIf="account.active && account.username !== 'admin'"><a class="btn btn-danger" (click)="block(account.id)">Block</a></td>
  </tr>
  </tbody>
</table>
<div align="center">
  <button class="btn btn-default color-blue" (click)="previous()">Previous</button>
  <button type="button" class="btn btn-default text-faded">{{page + 1}} / {{total}}</button>
  <button class="btn btn-default color-blue" (click)="next()">Next</button>
</div>
