<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
</svg>
<div *ngIf="isDone" style="width: 600px; margin-left: 350px" class="alert alert-success d-flex align-items-center" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
  <div>
    Khóa tài khoản thành công!
  </div>
</div>

<h3>Danh sách tài khoản</h3>

<table class="table table-hover">
  <thead>
  <tr>
    <th>#</th>
    <th>Tên tài khoản</th>
    <th>Tên đầy đủ</th>
    <th>Email</th>
    <th>Điện thoại</th>
    <th>Trạng thái</th>
    <th>Hành động</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let account of accounts; index as i">
    <td>{{i + 1}}</td>
    <td>{{account.username}}</td>
    <td>{{account.fullName}}</td>
    <td>{{account.email}}</td>
    <td>{{account.phone}}</td>
    <td style="color: green" *ngIf="account.active">Hoạt động</td>
    <td style="color: red" *ngIf="!account.active">Khóa</td>
    <td *ngIf="!account.active"></td>
    <td *ngIf="account.username === 'admin'"></td>
    <td *ngIf="account.active && account.username !== 'admin'"><a class="btn btn-danger" (click)="block(account.id)">Block</a></td>
  </tr>
  </tbody>
</table>
<div align="center">
  <button class="btn btn-default color-blue" (click)="previous()">Trước</button>
  <button type="button" class="btn btn-default text-faded">{{page + 1}} / {{total}}</button>
  <button class="btn btn-default color-blue" (click)="next()">Sau</button>
</div>
