<div>
  <div style="display: inline;width: 48%; float: left; margin-left: 170px">

    <div class="frame" (scroll)="scrolled(account.id)" #scrollFrame>
      <div>
        <div style=" height: 108px;width: 97%; border: 1px solid lightgrey; border-radius: 3px; margin-top: 3%">
          <div *ngFor="let f of friends" style="display: inline-block;width: 70px; margin-top: 3%; margin-left: 3%">
            <a [routerLink]="['/profile', f.username]">
              <img
                style="width: 55px; height: 55px;border: 2px solid hotpink; object-fit: cover; border-radius: 30px"
                src="{{f.avatar}}">
            </a>
            <p
              style=" margin-left: 15%;text-overflow: ellipsis; white-space: nowrap; overflow: hidden">{{f.username}}</p>
          </div>
        </div>
      </div>

      <div style="margin-left: 0" *ngFor="let s of status" class="item">
        <div style=" border-radius: 3px">
          <div style="margin-left: 10px;margin-top: 10px">
            <div *ngIf="s.privacy.name === 'public'">
              <a [routerLink]="['/profile', s.account.username]">
                <img
                  style="width: 37px; height: 37px;border: 2px solid hotpink; object-fit: cover; border-radius: 30px"
                  src="{{s.account.avatar}}">
              </a>
              &nbsp;<b>{{s.account.username}}</b>&nbsp;&nbsp;<img style="width: 17px; height: 17px; margin-left: -3px"
                                                                  src="https://cdn0.iconfinder.com/data/icons/octicons/1024/globe-512.png">
            </div>
            <div *ngIf="s.privacy.name === 'friend-only'">
              <a [routerLink]="['/profile', s.account.username]">
                <img
                  style="width: 37px; height: 37px;border: 2px solid hotpink; object-fit: cover; border-radius: 30px"
                  src="{{s.account.avatar}}">
              </a>
              &nbsp;<b>{{s.account.username}}</b>&nbsp;&nbsp;<svg
              xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-people-fill"
              viewBox="0 0 16 16">
              <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              <path fill-rule="evenodd"
                    d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
              <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
            </svg>
            </div>
            <div *ngIf="s.privacy.name === 'only-me'">
              <a [routerLink]="['/profile', s.account.username]">
                <img
                  style="width: 37px; height: 37px;border: 2px solid hotpink; object-fit: cover; border-radius: 30px"
                  src="{{s.account.avatar}}">
              </a>
              &nbsp;<b>{{s.account.username}}</b>&nbsp;&nbsp;<svg
              style="margin-top: -2px" xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
              class="bi bi-lock-fill" viewBox="0 0 16 16">
              <path
                d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
            </svg>
            </div>
            <div *ngIf="s.account.id==account.id" style="float: right; margin-top: -40px; margin-right: 5px"
                 class="dropdown">
              <button style=" background-color: white" class="dropbtn">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-three-dots"
                     viewBox="0 0 16 16">
                  <path
                    d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                </svg>
              </button>
              <div class="dropdown-content">
                <label style="width: 100%" for="edit{{account.id}}">
                  <a class="nav-link">
                    <button id="edit{{account.id}}" class="btn"
                            (click)="addIdStatus(s.id)"
                            data-bs-toggle="modal" data-bs-target="#exampleModal">Sửa
                    </button>
                    <span class="sr-only">(current)</span></a>
                </label>
                <label style="width: 100%" for="delete{{account.id}}">
                  <a class="nav-link">
                    <button id="delete{{account.id}}" class="btn"
                            (click)="addIdStatus(s.id)" data-bs-toggle="modal"
                            data-bs-target="#deleteStatus">Xóa
                    </button>
                    <span class="sr-only">(current)</span></a>
                </label>
              </div>
            </div>
          </div>


          <!-- hien thi anh 2.0-->
          <div style="margin-top: 12px" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img style="max-height: 700px; object-fit: cover" class="d-block w-100"
                     src="{{s.imageStatuses[0].url}}">
              </div>
            </div>
          </div>
          <!--          hien thi like-->
          <div *ngIf="(s.likeStatuses.length == 0)">
            <p>
              <button
                      (click)="createLike(account.id, s.id)"
                      style="border: 0 solid white; background-color: white; margin-left: 1%; margin-top: 2%"><img
                style=" width: 33px; height: 30px"
                src="../../../assets/image/Screenshot 2021-08-09 222339.png"/>
              </button>
              <button type="button" style="border: 0 solid white; background-color: white;"><img
                style=" width: 33px; height: 30px"
                src="../../../assets/image/Screenshot 2021-08-10 101034.png"/>
              </button>
              <br><br>
              <b style="margin-left: 1.8%">0&nbsp;lượt thích</b>
            </p>

          </div>


          <div *ngIf="(s.likeStatuses.length > 0) && !checkIdAcc(account, s.likeStatuses)">
            <p>
              <button
                (click)="createLike(account.id, s.id)"
                style="border: 0 solid white; background-color: white; margin-left: 1%; margin-top: 2%"><img
                style=" width: 33px; height: 30px"
                src="../../../assets/image/Screenshot 2021-08-09 222339.png"/>
              </button>
              <button type="button" style="border: 0 solid white; background-color: white;"><img
                style=" width: 33px; height: 30px"
                src="../../../assets/image/Screenshot 2021-08-10 101034.png"/>
              </button>
              <br><br>
              <b style="margin-left: 1.8%">{{s.likeStatuses.length}}&nbsp;lượt thích</b>
            </p>
          </div>


          <div *ngFor="let x of s.likeStatuses">
            <p>
              <button *ngIf="account.id == x.account.id " (click)="deleteLike(account.id, s.id)"
                      style="border: 0 solid white; background-color: white; margin-left: 1%; margin-top: 2%"><img
                style=" width: 33px; height: 30px"
                src="../../../assets/image/Screenshot 2021-08-09 235201.png"/>
              </button>
              <button *ngIf="account.id == x.account.id " type="button" style="border: 0 solid white; background-color: white;"><img
                style=" width: 33px; height: 30px"
                src="../../../assets/image/Screenshot 2021-08-10 101034.png"/>
              </button>
              <br *ngIf="account.id == x.account.id "><br *ngIf="account.id == x.account.id ">
              <b *ngIf="account.id == x.account.id " style="margin-left: 1.8%">{{s.likeStatuses.length}}&nbsp;lượt thích</b>
            </p>
          </div>



          <!--content-->
          <div style="margin-left: 10px; margin-top: 10px">

            <p style=" text-align: justify"><b>{{s.account.username}}</b>&nbsp;{{s.content}}</p>
            <p style="font-size: 14px; color: darkgrey">Có {{s.comments.length}} bình luận hiển thị</p>
            <hr style="width: 98%">


            <!--            hien thi comment-->
            <div class="frame1">
              <div *ngFor="let x of s.comments" class="item1">
                <div>
                  <p><b>{{x.account.username}}</b>&nbsp;
                    {{x.content}}</p>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="s.time < 60" style="margin-left: 10px">
            <p style="margin-top: -3%; font-size: 13px; color: darkgrey">{{s.time}} Phút Trước</p>
          </div>
          <div *ngIf=" s.time < 1440 && (s.time > 60 || s.time == 60)" style="margin-left: 10px">
            <p style="margin-top: -3%;font-size: 13px; color: darkgrey">{{(s.time - s.time % 60) / 60}} Giờ Trước</p>
          </div>
          <div *ngIf="s.time > 1440 || s.time == 1440" style="margin-left: 10px">
            <p style="margin-top: -3%; font-size: 13px; color: darkgrey">{{(s.time - s.time % 1440) / 1440}} Ngày
              Trước</p>
          </div>


          <form #commentForm="ngForm" (change)="createComment(commentForm, account.id, s.id)">
            <input style="width: 96%; margin-left: 2%; margin-bottom: -1%" class="form-control" ngModel name="content"
                   placeholder="Viết bình luận">
            <!--            <button  class="btn btn-outline-primary">Đăng</button>-->
          </form>
        </div>
        <br>
      </div>
    </div>
  </div>

  <!--  phan ben phai-->
  <div style=" margin-left: 65%; float: left">
    <table style="margin-top: 35px">
      <tr>
        <td><img style="height: 55px; width: 55px; border-radius: 50%; object-fit: cover;border: 1px solid lightgrey"
                 src="{{account.avatar}}"></td>

        <td><p
          style="margin-left: 15%;margin-top: 15%;width: 100px;text-overflow: ellipsis; white-space: nowrap; overflow: hidden">
          <b>{{account.username}}</b>
          <br>
          <span style="font-size: 14px; color: darkgrey">{{account.fullName}}</span></p></td>
        <td><a>Chuyển</a></td>
      </tr>
      <tr>
        <td colspan="3"><input style="font-size: 14px; background-color: #F8F8F8; border-radius: 5px; margin-top: 20px"
                               class="input-group-text"
                               placeholder="Bạn đang nghĩ gì thế?" data-bs-toggle="modal" data-bs-target="#createModal">
        </td>
      </tr>

    </table>
  </div>
</div>


<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createModalLabel" style="margin-left: 185px">Tạo bài viết</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form #statusForm="ngForm" (ngSubmit)="createStatus(statusForm, imgSrc1) ">
        <div class="modal-body">
          <div>
            <div style="margin-bottom: -10px">
              <select style="font-size: 14px; border: 1px solid lightgrey;height: 30px; border-radius: 5px"
                      name="privacy" [(ngModel)]="status1">
                <option *ngFor="let privacy of privacy" [value]="privacy.id">{{privacy.name}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="inputEmail"></label>
              <textarea class="form-control beautify-textarea" cols="100" rows="3"
                        id="inputEmail" name="content" required ngModel
                        placeholder="Bạn đang nghĩ gì thế?"></textarea>
              <a *ngIf="statusForm.invalid">
              </a>
            </div>
            <div>
              <input hidden ngModel name="url" [value]="imgSrc1">
              <input type="file" (change)="showImagePreview($event);" #preview>
              <img *ngIf="imgSrc1" style="height: 100px; width: 100px; object-fit: cover" [src]="imgSrc1"
                   (click)="preview.click()">
            </div>
            <div>
              <input hidden type="text" name="account" [(ngModel)]="account">
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Đăng</button>
          <button id="button" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!--modal delete-->
<div class="modal fade" id="deleteStatus" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteStatusLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có chắc muốn xóa không?
      </div>
      <div class="modal-footer">
        <button type="button" data-bs-dismiss="modal" (click)="deleteByStatus(status1.id)"
                class="btn btn-primary">
          Xóa
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal edit-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cập nhật bài viết</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
           <textarea class="form-control beautify-textarea" cols="100" rows="4" type="text"
                     name="content" required [(ngModel)]="status1.content"
                     placeholder="Bạn đang nghĩ gì thế?"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" data-bs-dismiss="modal" (click)="saveStatus()" class="btn btn-primary">Lưu thay đổi
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>
