@import "~bootstrap/dist/css/bootstrap.css";
.frame {
  height: 98%;
  position: absolute;
  width: 50%;
  z-index: 100;
  margin-top: 10px;
  overflow: scroll;
}

.item {
  padding: 50px 10px;
  /*margin: 20px;*/
  background-color: white;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  padding: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: whitesmoke;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darkgray;
  border-radius: 5px 5px 5px 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gainsboro;
}


