<div class="modal fade" id="deleteStatus" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteStatusLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form #groupForm="ngForm" (ngSubmit)="createGroup(groupForm.value)">
        <div class="modal-body">
          <input type="text" name="name" placeholder="Tên group ?" [(ngModel)]="group.name">
        </div>
        <div class="modal-footer">
          <button data-bs-dismiss="modal"
                  class="btn btn-primary">Tạo
          </button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--modal add new account on group-->
<div class="modal fade" id="addNewAccount" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addNewAccountLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul *ngFor="let friend of friends">
          <li>
            <button (click)="addNewAccount(friend.id)" data-bs-dismiss="modal"
                    class="btn btn-primary">{{friend.username}}
            </button>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
      <!--      </form>-->
    </div>
  </div>
</div>

<div style="width: 602px; margin-left: 340px" class="container clearfix">
  <div style="float: left; width: 198px" class="people-list" id="people-list">
    <div class="search">
      <input #element type="text" style="margin-left: 8px; background-color: whitesmoke;" (keyup)="search(element.value)" placeholder="Tìm kiếm"/>
    </div>
    <div>
      <button style="margin-left: 60px; padding: 5px" class="btn btn-outline-primary"
              data-bs-toggle="modal"
              data-bs-target="#deleteStatus">Tạo nhóm
      </button>
    </div>
    <div class="list">
      <div style="background-color: whitesmoke " *ngFor="let group of groups" (click)="addIdAccount(group.id)" class="clearfix">
        <div class="about">
          <div style="color: #5fbae9" class="name">{{group.name}}</div>
          <div class="status">
            <i class="fa fa-circle online"></i> Trực tuyến
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="float: left" class="chat">
    <div class="chat-header clearfix">
      <img [src]="account.avatar" style="margin-top: 5px;width: 40px;height: 40px;border: none;border-radius: 50%" alt="avatar"/>

      <div style="margin-left: 5px" class="chat-about">
        <button *ngIf="checkButton" data-bs-toggle="modal"
                data-bs-target="#addNewAccount" (click)="getFriends()" class="btn btn-outline-info">Thêm bạn        </button>&nbsp;
        <button (click)="exitGroup()" class="btn btn-outline-info">Rời nhóm </button>
      </div>
    </div> <!-- end chat-header -->


    <div #scrollMe class="chat-history">
      <ul *ngFor="let message of websocketService.group">
        <li *ngIf="message.account1.id == account.id" class="clearfix">
          <div class="message-data align-right">
            <span class="message-data-time">{{message.date}}</span> &nbsp; &nbsp;
            <span class="message-data-name">{{message.account1.username}}</span> &nbsp;<i class="fa fa-circle me"></i>
          </div>
          <div class="message other-message float-right">
            {{message.content}}
          </div>
        </li>

        <li *ngIf="message.account1.id != account.id">
          <div class="message-data">
            <span class="message-data-name"><i class="fa fa-circle online"></i>&nbsp;{{message.account1.username}}</span>
            <span class="message-data-time">{{message.date}}</span>
          </div>
          <div class="message my-message">
            {{message.content}}
          </div>
        </li>
      </ul>

    </div> <!-- end chat-history -->
    <form #message="ngForm" (ngSubmit)="createChat(message)">
      <div class="chat-message clearfix">
        <textarea name="content" id="message-to-send" placeholder="Soạn tin nhắn" rows="2" ngModel></textarea>
        <button>Gửi</button>
      </div> <!-- end chat-message -->
    </form>

  </div> <!-- end chat -->

</div> <!-- end container -->
