<div class="modal fade" id="deleteStatus" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteStatusLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form #groupForm="ngForm" (ngSubmit)="createGroup(groupForm.value)">
        <div class="modal-body">
          <input type="text" name="name" placeholder="Tên group ?" [(ngModel)]="group.name">
        </div>
        <div class="modal-footer">
          <button data-bs-dismiss="modal"
                  class="btn btn-primary">Tạo
          </button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--modal add new account on group-->
<div class="modal fade" id="addNewAccount" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addNewAccountLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul *ngFor="let friend of friends">
          <li>
            <button (click)="addNewAccount(friend.id)" data-bs-dismiss="modal"
                    class="btn btn-primary">{{friend.username}}
            </button>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
      <!--      </form>-->
    </div>
  </div>
</div>

<div style="width: 800px" class="container clearfix">
  <div style="float: left" class="people-list" id="people-list">
    <div class="search">
      <input #element type="text" (keyup)="search(element.value)" placeholder="search"/>
      <i class="fa fa-search"></i>
    </div>
    <div>
      <button class="btn btn-outline-info"
              data-bs-toggle="modal"
              data-bs-target="#deleteStatus">Create Group
      </button>
    </div>
    <ul class="list">
      <li *ngFor="let group of groups" (click)="addIdAccount(group.id)" class="clearfix">
        <div class="about">
          <div style="color: #5fbae9" class="name">{{group.name}}</div>
          <div class="status">
            <i class="fa fa-circle online"></i> online
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div style="float: left" class="chat">
    <div class="chat-header clearfix">
      <img [src]="account.avatar" style="width: 55px;height: 55px;border: none;border-radius: 24px" alt="avatar"/>

      <div class="chat-about">
        <div class="chat-with">Chat with &nbsp;&nbsp; {{account.username}}</div>
        <div class="chat-num-messages">already 1 902 messages</div>
      </div>
      <i class="fa fa-star">
        <button *ngIf="checkButton" data-bs-toggle="modal"
                data-bs-target="#addNewAccount" (click)="getFriends()" class="btn btn-outline-info">Thêm bạn vào nhóm (+)
        </button>
      </i>
    </div> <!-- end chat-header -->
    <button (click)="exitGroup()" class="btn btn-outline-info">Rời nhóm ?
    </button>
    <div #scrollMe class="chat-history">
      <ul *ngFor="let message of websocketService.group">
        <li *ngIf="message.account1.id == account.id" class="clearfix">
          <div class="message-data align-right">
            <span class="message-data-time">{{message.date}}, Today</span> &nbsp; &nbsp;
            <span class="message-data-name">{{message.account1.username}}</span> <i class="fa fa-circle me"></i>
          </div>
          <div class="message other-message float-right">
            {{message.content}}
          </div>
        </li>

        <li *ngIf="message.account1.id != account.id">
          <div class="message-data">
            <span class="message-data-name"><i class="fa fa-circle online"></i>{{message.account1.username}}</span>
            <span class="message-data-time">{{message.date}}, Today</span>
          </div>
          <div class="message my-message">
            {{message.content}}
          </div>
        </li>
      </ul>

    </div> <!-- end chat-history -->
    <form #message="ngForm" (ngSubmit)="createChat(message)">
      <div class="chat-message clearfix">
        <textarea name="content" id="message-to-send" placeholder="Type your message" rows="3" ngModel></textarea>

        <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
        <i class="fa fa-file-image-o"></i>

        <button>Send</button>
      </div> <!-- end chat-message -->
    </form>

  </div> <!-- end chat -->

</div> <!-- end container -->
