<div style="margin-top: 5%">
  <img class="fadeIn third" style="position: absolute;width: 100px; height: 100px; margin-left: 58%; margin-top: 10%; border-radius: 20px" src="../../assets/image/old-instagram-logo.png"/>

  <p><img class="fadeIn first" style="object-fit: cover; height: 422px; width: 270px; margin-left: 28%; margin-top: 1% " src="../../assets/image/111111.png"/>

    <a *ngIf="!authenticationService.currentUserValue" routerLink="/login" class="btn btn-outline-primary fadeIn fourth" style="margin-top: 8%; margin-left: 4.5%; width: 100px; font-size: 14px">Đăng Nhập</a>
    <a *ngIf="!authenticationService.currentUserValue" routerLink="/register" class="btn btn-outline-secondary fadeIn fourth" style="margin-top: 8%; margin-left: 1%; width: 100px; font-size: 14px">Đăng Ký</a>
  </p>
</div>
<div class="text-center p-1 fadeIn second" style="background-color: white;height: 15px; margin-top: 3%; font-size: 11px; color: darkgrey">
  © 2021 Instagram from Fantastic4
</div>
