<div>
  <img style="position: absolute;width: 100px; height: 100px; margin-left: 58%; margin-top: 10%; border-radius: 20px" src="../../assets/image/old-instagram-logo.png"/>

  <p><img style="object-fit: cover; height: 422px; width: 270px; margin-left: 28%; margin-top: 1% " src="../../assets/image/111111.png"/>

    <a routerLink="/login" class="btn btn-outline-primary" style="margin-top: 8%; margin-left: 9%; width: 100px; font-size: 14px">Đăng Nhập</a>
  </p>
</div>
<div class="text-center p-1" style="background-color: white;height: 15px; margin-top: 3%; font-size: 11px; color: darkgrey">
  © 2021 Instagram from Fantastic4
</div>
