<div style="text-align: center">
  <div><p>- Avatar :<img style="width: 100px;height: auto" [src]="account.avatar" alt="notFoul"></p></div>
  <div><p>- User name : {{account.username}}</p></div>
  <div><p>- Họ và tên : {{account.fullName}}</p></div>
  <div>
    <div *ngIf="id1 == id2">
      <button type="button" data-bs-toggle="modal" data-bs-target="#createModal" class="btn btn-primary">Create
        status
      </button>
      <p>số lượng lời mời kết bạn đã nhận :{{requestSent.length}}</p>
      <ul style="width: 500px" *ngFor="let fr of requestSent">
        <li>
          <p>{{fr.username}} đã gửi lời mời kết bạn</p>
          <button (click)="acceptFriend(fr.id)">Chấp nhận</button>
          <button (click)="declineFriend(fr.id)">Từ chối lời mời</button>
        </li>
      </ul>
    </div>
  </div>
</div>
<p>- Địa chỉ : {{account.address}}</p>
<p>- SĐT : {{account.phone}}</p>
<p>- Sở thích : {{account.favorite}}</p>
<p>- Số lượng bạn bè : {{totalFriend}}</p>
<p *ngIf="mutualFriendsCheck">- Số lượng bạn bè chung : {{mutualFriends}}</p>
<div *ngIf="!checkOnlyMe && loginCheck">
  <p *ngIf="friendCheck===-1">
    <button (click)="sendFriend()">kết bạn</button>
  </p>
  <p *ngIf="friendCheck===1">
    <button (click)="deleteFriend()">Hủy kết bạn</button>
  </p>
  <p *ngIf="friendCheck===0">
    <button (click)="cancelRequest()">Đã gửi lời mời</button>
  </p>
  <p *ngIf="friendCheck===4">
    <button (click)="acceptFriend1()">Chấp nhận lời mời</button>
  </p>
  <p *ngIf="friendCheck===4">
    <button (click)="declineFriend1()">Từ chối lời mời</button>
  </p>
</div>

<!-- Modal edit-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input [(ngModel)]="status1.content">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" data-bs-dismiss="modal" (click)="saveStatus()" class="btn btn-primary">Save changes
        </button>
      </div>
    </div>
  </div>
</div>
<!--modal delete-->
<div class="modal fade" id="deleteStatus" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteStatusLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        xóa nhé bạn ơi
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" data-bs-dismiss="modal" (click)="deleteByStatus(status1.id)" class="btn btn-primary">
          delete Status
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form #statusForm="ngForm" (ngSubmit)="createStatus(statusForm)">
        <div class="modal-body">
          <table border="1px">
            <div class="form-group">
              <label for="inputEmail"></label>
              <textarea class="form-control beautify-textarea" cols="100" rows="2" type="text" class="form-control"
                        id="inputEmail" name="content" required [(ngModel)]="status2.content"
                        placeholder="what do you think?"></textarea>
              <a *ngIf="statusForm.invalid">
              </a>
            </div>
            <div>
              <input hidden type="text" name="account" [(ngModel)]="currentAccount">
            </div>
            <div>
              <select name="privacy" [(ngModel)]="status2.privacy">
                <option *ngFor="let privacy of privacy" [value]="privacy.id">{{privacy.name}}</option>
              </select>
            </div>

          </table>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
          <button id="button" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="frame" (scroll)="scrolled(id1, id2)" #scrollFrame>
  <div *ngIf="friendCheck<1 || !loginCheck">
    <div class="statusForm alert-secondary rounded p-4" *ngFor="let s of statusPublic" class="item">
      <ul>
        <li>{{s.privacy.name}}</li>
        <li>{{s.account.username}}</li>
        <li>{{s.content}}</li>
      </ul>
    </div>
  </div>
  <div *ngIf="friendCheck===1">
    <div class="statusForm alert-secondary rounded p-4"
         *ngFor="let s of statusFriendOnlyAndPublic" class="item">
      <ul>
        <li>{{s.privacy.name}}</li>
        <li>{{s.account.username}}</li>
        <li>{{s.content}}</li>
      </ul>
    </div>
  </div>
  <div *ngIf="checkOnlyMe">
    <div class="statusForm alert-secondary rounded p-4" *ngFor="let s of status.content" class="item">
      <ul>
        <li>{{s.privacy.name}}</li>
        <li>{{s.account.username}}</li>
        <li>{{s.content}}</li>
      </ul>
      <button type="button" class="btn btn-primary" (click)="addIdStatus(s.id)" data-bs-toggle="modal"
              data-bs-target="#exampleModal">Edit
      </button>
      <button type="button" class="btn btn-primary" (click)="addIdStatus(s.id)" data-bs-toggle="modal"
              data-bs-target="#deleteStatus">Delete
      </button>
    </div>
  </div>
</div>
