
<div align="center" style="position: relative">
  <h3>Tạo Tài Khoản</h3>
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
  </svg>
  <div *ngIf="isDone" style="width: 600px" class="alert alert-success d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
    <div>
      Thành công!
    </div>
  </div>
  <div align="center" *ngIf="isEmail || isPassword || isUsername" style="width: 600px" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>   Cảnh báo!  </strong>{{message}}
  </div>
  <br>
  <form [formGroup]="accountForm" (ngSubmit)="submit()">
    <div>
      <div style="float: left; margin-left: 18%">
        <div class="mb-6">
          <b>Tài Khoản <span style="color: red">*</span></b>
          <div><input style="width: 400px" class="input-group-text" type="text" formControlName="username"></div>
        </div>
        <div>

          <div style="width: 400px" *ngIf="username.invalid && (username.dirty || username.touched)"
               class="alert alert-danger">

            <div class="row-cols-4" *ngIf="username.errors?.required">
              Tên tài khoản không được để trống.
            </div>
            <div *ngIf="username.errors?.pattern">
              Không được để khoảng trắng
            </div>
          </div>

        </div>
        <div>
          <b>Mật Khẩu <span style="color: red">*</span></b>
          <div>
            <input style="width: 400px" class="input-group-text" [type]="passwordType" formControlName="password"><a style="position: relative;margin-left: -50px;margin-top: -5px; margin-bottom: 5px" class="btn fadeIn third" (click)='hideShowPassword()'><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#cccccc" class="bi bi-eye" viewBox="0 0 16 16">
            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
          </svg></a>
          </div>
          <div>
            <div style="width: 400px" *ngIf="password.invalid && (password.dirty || password.touched)"
                 class="alert alert-danger">

              <div *ngIf="password.errors?.required">
                Mật khẩu không được để trống.
              </div>
              <div *ngIf="password.errors?.minlength">
                Tối thiểu 6 ký tự.
              </div>
              <div *ngIf="password.errors?.maxlength">
                Tối đa 32 ký tự
              </div>
            </div>
          </div>
        </div>
        <div>
          <b>Xác Nhận Mật Khẩu <span style="color: red">*</span></b>
          <div><input style="width: 400px" class="input-group-text" [type]="passwordType" formControlName="confirmPassword">
          </div>
        </div>
        <br>
        <div>
<!--          <button class="btn btn-primary">Đăng Ký</button>-->
          <button class="btn btn-outline-primary" style=" margin-left: 88%; width: 100px; font-size: 15px">Đăng Ký</button>
        </div>
      </div>


      <div style="float:left;">
        <div>
          <b>Email <span style="color: red">*</span></b>
          <div><input style="width: 400px" class="input-group-text" type="text" formControlName="email"></div>
          <div>
            <div style="width: 400px" *ngIf="email.invalid && (email.dirty || email.touched)"
                 class="alert alert-danger">

              <div *ngIf="email.errors?.pattern">
                Định dạng email giống example@gmail.com
              </div>
              <div *ngIf="email.errors?.required">
                Email không được để trống
              </div>
            </div>
          </div>
        </div>
        <div>
          <b>Số Điện Thoại</b>
          <div><input style="width: 400px" class="input-group-text" type="text" formControlName="phone"></div>
          <div>
            <div style="width: 400px" *ngIf="phone.invalid && (phone.dirty || phone.touched)"
                 class="alert alert-danger">

              <div *ngIf="phone.errors?.pattern">
                Số điện thoại bắt đầu từ 0 và gồm 10 số.
              </div>
            </div>
          </div>
        </div>
        <div>
          <b>Ngày Sinh</b>
          <div><input style="width: 400px" class="input-group-text" type="text" formControlName="birthday"></div>
          <div>
            <div style="width: 400px" *ngIf="birthday.invalid && (birthday.dirty || birthday.touched)"
                 class="alert alert-danger">

              <div *ngIf="birthday.errors?.pattern">
                Định dạng ngày sinh là ngày/tháng/năm
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>

