
<div align="center" style="position: relative">
  <h3>Tạo Tài Khoản</h3>
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
  </svg>
  <div *ngIf="isDone" style="width: 600px" class="alert alert-success d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
    <div>
      Thành công!
    </div>
  </div>
  <div align="center" *ngIf="isEmail || isPassword || isUsername" style="width: 600px" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>   Cảnh báo!  </strong>{{message}}
  </div>
  <br>
  <form [formGroup]="accountForm" (ngSubmit)="submit()">
    <div>
      <div style="float: left; margin-left: 18%">
        <div class="mb-6">
          <b>Tài Khoản <span style="color: red">*</span></b>
          <div><input style="width: 400px" class="input-group-text" type="text" formControlName="username"></div>
        </div>
        <div>

          <div style="width: 400px" *ngIf="username.invalid && (username.dirty || username.touched)"
               class="alert alert-danger">

            <div class="row-cols-4" *ngIf="username.errors?.required">
              Tên tài khoản không được để trống.
            </div>
          </div>

        </div>
        <div>
          <b>Mật Khẩu <span style="color: red">*</span></b>
          <div>
            <input style="width: 400px" class="input-group-text" type="password" formControlName="password">
          </div>
          <div>
            <div style="width: 400px" *ngIf="password.invalid && (password.dirty || password.touched)"
                 class="alert alert-danger">

              <div *ngIf="password.errors?.required">
                Mật khẩu không được để trống.
              </div>
              <div *ngIf="password.errors?.minlength">
                Tối thiểu 6 ký tự.
              </div>
              <div *ngIf="password.errors?.maxlength">
                Tối đa 32 ký tự
              </div>
            </div>
          </div>
        </div>
        <div>
          <b>Xác Nhận Mật Khẩu <span style="color: red">*</span></b>
          <div><input style="width: 400px" class="input-group-text" type="password" formControlName="confirmPassword">
          </div>
        </div>
        <br>
        <div>
          <button class="btn btn-primary">Đăng Ký</button>
        </div>
      </div>


      <div style="float:left;">
        <div>
          <b>Email  </b>
          <div><input style="width: 400px" class="input-group-text" type="text" formControlName="email"></div>
          <div>
            <div style="width: 400px" *ngIf="email.invalid && (email.dirty || email.touched)"
                 class="alert alert-danger">

              <div *ngIf="email.errors?.pattern">
                Định dạng Email giống abcd@gmail.com
              </div>
            </div>
          </div>
        </div>
        <div>
          <b>Số Điện Thoại</b>
          <div><input style="width: 400px" class="input-group-text" type="text" formControlName="phone"></div>
          <div>
            <div style="width: 400px" *ngIf="phone.invalid && (phone.dirty || phone.touched)"
                 class="alert alert-danger">

              <div *ngIf="phone.errors?.pattern">
                Số điện thoại bắt đầu từ 0 và gồm 10 số.
              </div>
            </div>
          </div>
        </div>
        <div>
          <b>Ngày Sinh</b>
          <div><input style="width: 400px" class="input-group-text" type="text" formControlName="birthday"></div>
          <div>
            <div style="width: 400px" *ngIf="birthday.invalid && (birthday.dirty || birthday.touched)"
                 class="alert alert-danger">

              <div *ngIf="birthday.errors?.pattern">
                Định dạng ngày sinh là dd/mm/yyyy
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>

